@tailwind base;
@tailwind components;
@tailwind utilities;



.content-wrapper {
    display: flex;
}

.sidebar {
    flex: 1;
    background-color: #f7f7f7; /* 例の背景色 */
    padding: 1rem;
}

.main-content {
    flex: 4;
    padding: 1rem;
}
